pyopenssl
django
django-storages
pyrebase
django-filter
requests-html
coreapi
django-cors-headers
djangorestframework
djangorestframework-jwt
mysqlclient
web3
Pillow
django-storages[google]
grpcio==1.7.0