.ui.container .item{
    margin-top: 11px;
}

.ui.container .button{
    margin-top: -9px;
}

body{
    background-color: #f7f7f7;
}


.footer {
height: 40px;
    position: fixed;
    bottom:0%;
    width:100%;
    background-color: white;
    opacity: 1;
}
