.ui.container .item{
    margin-top: 11px;
}

.ui.container .button{
    margin-top: -9px;
}

body{
    background-color: #FFF;
}

.ui.inverted.menu { 
    background: white!important;
}
.ui.vertical.segment{
    border-bottom: 0;
}
.ui.loading.segment:before{
    background: rgba(255, 255, 255, 0);
}


.ui.menu .item{
    line-height:3;
    padding: 0.4em 1.14285714em;
}
.ui.container .item{
    margin-top: 0px;
}
.ui.search {
    font-size: 1em;
    margin: 1em 1em 0 1em;
}

.ui.menu.five.item a {
    width: 20%;
    text-align: center;
    justify-content: center;
    display: table-cell;
}

.footer {
    height: 60px;
    position: fixed;
    bottom:0%;
    width:100%;
    background-color: white;
    opacity: 1;
}


.uploader {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
    display: flex;
    height: 200px;
    justify-content: center;
    outline: 3px dashed #ccc;
    outline-offset: 5px;
    position: relative;
    width: 340px;
    
}
.uploader input { 
       display: none; 
    }
    
.uploader img, .uploader .icon { 
       pointer-events: none; 
    }
.uploader .icon {
       transition: all 100ms ease-in; 
       color: #eee;
       color: rgba(0, 0, 0, 0.2);
       font-size: 5em;
    }
    
.uploader img {
       left: 50%;
       opacity: 0;
       max-height: 100%;
       max-width: 100%;
       position: absolute;
       top: 50%;
       transition: all 300ms ease-in;
       transform: translate(-50%, -50%); 
}
.uploader img.loaded {
          opacity: 1;
 
 }
 
 /*test*/


#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin:first-child {
  width: 100%;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

.ui.card, .ui.cards>.card{
    width: 360px;
    margin:0em 0.5em 1em 0.5em;

}

.ui.fluid.dropdown{
    margin: 1em 0em 0 0em;
}
.footer { 
    border-radius: none!important;
    box-shadow:none;
    border: 0!important;
    box-shadow: none!important;

} 
#footer item:before{
    border: none!important;
}
#footer .ui.menu .active.item{
    background: none;
}
.ui.menu .active.item, .ui.menu .item:before{
    background: none; 
}
.ui.menu .active.item:hover, .ui.menu .active.item{
    background: none; 
    color: #00b5ad;
}

/* .ui.card .content img, .ui.cards>.card .content img{
    border-radius: .28571429rem .28571429rem 0 0!important;
} */
.fistgridimage{
    border-radius: .28571429rem .28571429rem 0 0!important;
}
.ui.grid>.column:not(.row){
    padding: 0!important;
}

#head-searchbox{
    border: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.84);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
div#head-searchbox .ui.search { 
    margin-top: 0px;
    width: 100%;
}
div#head-searchbox .ui.input{
    width: 100%;
}